  <div class="container-fluid justify-content-center">
    <div class="profile-select" id="profile-select">
    <div class="profile-list-label">
      Who's writing?
    </div>
      <ul class="profile-choose">
        <li class="profile" *ngFor="let author of this.authors">
          <div class="card">
            <img class="img-fluid"
                 src="{{ author.imgPath }}"
                 alt="{{ author.name }}"
                 (click)="onSelectProfile(author.name)"
                 style="cursor: pointer">
            <div class="card-body">
              <h4 class="card-title">{{ author.name }}</h4>
            </div>
          </div>
        </li>
      </ul>
          <div id="card-buttons">
            <button class="btn btn-outline-secondary"
                    style="cursor: pointer; color: darkslategray"
                    [routerLink]="['manage']"><h4 class="card-title">manage<br>authors</h4>
            </button>
        </div>
      </div>
      </div>


