.card-img-top {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  min-height: 84px;
  min-width: 84px;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.profile-manager {
  margin-left: 20px;
  width: 100%;
  align-content: center;
}

.profiles-list {
  margin: 2px auto;
  line-height: 1.4;
  padding-left: 0;
  width: 100%;
  display: -webkit-inline-flex;
  list-style-type: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  justify-content: center;
}

.profile-list-label {
  font-size: 30px;
  text-align: center;
}

.profile-card {
  display: inline;
  text-align: center;
}




