.profile-select {
  margin: 4rem 0;
  position: relative;
}
.profile-select h1{
  color: darkslategray;
  margin: 2rem;
}
.profile-select .card {
  box-shadow: 0 0 20px #ccc;
  width: 10rem;
}
.profile-select .card img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .profile-select .card img{
    width: 10rem;
  }
}
.profile-select .card-title{
  color: darkslategray;

}

.profile-select .card .card-body {
  padding: 1rem;
}

.profile-list-label h4 {
  font-size: 4rem;
  text-align: center;
}

#profile-card {
  padding-right: 2rem;
  padding-bottom: 2rem;
}

#card-buttons {
  display: inline-grid;
  max-height: 10rem;
}






