#navbar {
  justify-content: center;
}


.navbar-brand {
  margin-right: 4vw;
  font-size:calc(12px + 1.5vw);
}

.nav-author a {
  float: right;
  display: block;
  color: darkslategray;
  cursor: pointer;
  text-align: center;
  padding: 1vw;
  text-decoration: none;
  font-size:calc(12px + 0.5vw);
}

.nav-author p {
  float: right;
  display: block;
  color: darkslategray;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size:calc(12px + 0.5vw);
}

@media screen and (max-width: 700px) {
  .nav-author a p {
    display: none;
  }
  #new-story {
    margin-right: 2vw !important;
  }
}

#new-story {
  cursor: pointer;
  color: darkslategray;
  margin-right: 6vw;
}

.search-container #search {
  padding: 1vw;
  float: left;
  margin-right: 2vw;
  border: 1px solid darkslategray;
  font-size:calc(12px + 0.5vw);
}


#dropdown-alignment li {
  color: darkslategray;
  cursor: pointer;
}

#controller {
}

.img-fluid {
  margin-right: 1rem;
  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 40px;
  object-fit: cover;
  border-radius: 50%;
}





