<div>
  <tabset [justified]="true">
    <tab>
      <ng-template tabHeading>
        <span class="badge badge-secondary">Stories</span>
      </ng-template>
      <app-stories-grid></app-stories-grid>
    </tab>
    <tab><ng-template tabHeading>
      <span class="badge badge-secondary">Drafts</span>
    </ng-template>
      Text GRID TODO//</tab>
    <tab>
      <ng-template tabHeading>
        <span class="badge badge-secondary">Saved Stories</span>
      </ng-template>
      <app-stories-grid></app-stories-grid></tab>
  </tabset>
</div>
