.img-fluid {
  float: left;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

#author-name {
  font-size: 28px;
  margin-top: 3rem;
  color: darkslategray;
}

#author-name button {
  margin-left: 1rem;
  width: 6rem;
}

#profile-card p {
  font-size: 17px;
  color: darkslategray;
}

#user-data {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

#user-name {
  font-size: 17px;
  font-weight: bold;
}

#profile-card {
  margin-bottom: 3rem;
}

#profile-description {
  margin-bottom: 3rem;
}
