<div class="row">
  <div id="profile-card" class="col-xl-6">
    <img
      [src]="author.imgPath"
      alt="{{ author.name }}"
      class="img-fluid"
      style="max-height: 180px"
    >
    <h1 id="author-name">{{ author.name }}<button class="btn btn-secondary btn-sm">Follow</button></h1>
    <div id="user-data">
      <span style="font-weight: bold">{{ author.stories.length }}</span><span style="margin-right: 1rem; "> stories</span><span style="margin-right: 1rem">0 followers</span><span style="margin-right: 1rem">0 following</span>
    </div>
    <div id="profile-description">
      <h1 id="user-name">{{ author.getUser().name }}</h1>
      <p>{{ author.description }}</p>
    </div>
  </div>
</div>


