.img-fluid {
  margin-top: 0.5rem;
  width: 100%;
  object-fit: cover;
  max-height: 200px;
  margin-bottom: 3rem;
}

i {
  margin-left: 1.5rem;
}

#tags {
  margin-top: 1rem;
  margin-left: 1.25rem;
}

.badge {
  margin-right: 0.4rem;
}

#save-story {
  margin-left: 5rem;
}
